<router-outlet></router-outlet>

<form (ngSubmit)="onSubmint()">
    <rut-material
        [name]="'rut_empresa'"
        [value]="'123456789'"
        [label]="'Ingrese su RUT'"
        [formParent]="formExample"
        [required]="false"
    ></rut-material>

    <br><br>

    <email-material
        [name]="'email_empresa'"
        [value]="'jarek.castrogmail.com'"
        [label]="'Ingrese su correo electrónico'"
        [formParent]="formExample"
        [errorCustom]="errorCustom!"
    ></email-material>


    <br><br>
    <button type="submit">click!</button>
</form>
